.flex{
    display: flex;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.hidden{
    display: none;
}

.rounded-sm{
    border-radius: 8px;
}

.rounded-lg{
    border-radius: 12px;
}