.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-around{
    justify-content: space-around;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items:flex-start;
}

.items-end{
    align-items:flex-ends;
}


.flex-col{
    flex-direction: column;
}


.flex-row{
    flex-direction:row;
}

.flex-1{
    flex: 1;
}

.self-start{
    align-self: flex-start;
}