.text-muted {
    color: $muted;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

.text-md{
    font-size: 18px;
}

.text-sm{
    font-size: 14px;
}

.font-bold{
    font-weight: bold;
}