input,
select {
    &.input {
        display: block;
        width: 100%;
        margin-bottom: .75rem;
        border-radius: $border-radius;
        border: 1px solid $muted;
        box-shadow: none;
        background-color: white;
        padding: .5rem 0.25rem;
    }
}
