input,
select {
    &.input {
        display: block;
        border-radius: $border-radius;
        border: 1px solid $muted;
        box-shadow: none;
        background-color: transparent;
        padding: 1rem 0.5rem;
    }
}
