<ion-content fullscreen class="ion-padding" scroll-y="false">

  <div class="text-right">
    <button class="text-md rounded-sm text-muted py-4 px-6 bg-muted">تجاهل التأهب</button>
  </div>

  <ion-slides pager="true">
    <ion-slide class="block h-full py-8">
      <img class="max-w-full  h-5/6" src="/assets/images/onboard1.png" />
      <h3 class="text-2xl font-bold">حدد موقعك</h3>
      <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
        النصوص النهائية المطلوبة
        للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
        للتصميم الاساسي.
      </p>
    </ion-slide>


    <ion-slide class="block h-full py-8" style="overflow: hidden;">
      <img class="max-w-full  h-5/6" src="/assets/images/onboard-clothes.png" />
      <h3 class="text-2xl font-bold">حدد موقعك</h3>
      <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
        النصوص النهائية المطلوبة
        للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
        للتصميم الاساسي.
      </p>
    </ion-slide>


    <ion-slide class="block h-full py-8">
      <img class="max-w-full  h-5/6" src="/assets/images/onboard1.png" />
      <h3 class="text-2xl font-bold">حدد موقعك</h3>
      <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
        النصوص النهائية المطلوبة
        للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
        للتصميم الاساسي.
      </p>
    </ion-slide>




    <ion-slide class="block h-full py-8">
      <img class="max-w-full  h-5/6" src="/assets/images/onboard1.png" />
      <h3 class="text-2xl font-bold">حدد موقعك</h3>
      <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
        النصوص النهائية المطلوبة
        للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
        للتصميم الاساسي.
      </p>
    </ion-slide>


  </ion-slides>
  <div class="text-center mt-auto">
    <button class="text-md rounded-sm text-white py-4 w-full bg-primary">التالي</button>
  </div>
</ion-content>