<ion-content>
  <ion-slides pager="true">


    <ion-slide>
      <section class="h-screen">
        <div class="text-right p-8">
          <button class="text-md rounded-sm text-muted py-4 px-6 bg-muted">تجاهل التأهب</button>
        </div>
        <ion-img src="/assets/images/onboard1.png" class="my-12"></ion-img>
        <h3 class="text-2xl font-bold">حدد موقعك</h3>
        <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
          النصوص النهائية المطلوبة
          للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
          للتصميم الاساسي.
        </p>
      </section>
    </ion-slide>



    <ion-slide style="overflow: hidden;">
      <section class="h-screen">
        <div class="text-right p-8">
          <button class="text-md rounded-sm text-muted py-4 px-6 bg-muted">تجاهل التأهب</button>
        </div>
        <ion-img src="/assets/images/onboard-clothes.png" class="my-12"
         style="width: 105%;"></ion-img>
        <h3 class="text-2xl font-bold">حدد موقعك</h3>
        <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
          النصوص النهائية المطلوبة
          للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
          للتصميم الاساسي.
        </p>
      </section>
    </ion-slide>


    <ion-slide>
      <section class="h-screen ">
        <div class="text-right p-8">
          <button class="text-md rounded-sm text-muted py-4 px-6 bg-muted">تجاهل التأهب</button>
        </div>
        <ion-img src="/assets/images/onboard1.png" class="my-8"></ion-img>
        <h3 class="text-2xl font-bold">حدد موقعك</h3>
        <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
          النصوص النهائية المطلوبة
          للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
          للتصميم الاساسي.
        </p>
      </section>
    </ion-slide>




    <ion-slide>
      <section class="h-screen">
        <div class="text-right p-8">
          <button class="text-md rounded-sm text-muted py-4 px-6 bg-muted">تجاهل التأهب</button>
        </div>
        <ion-img src="/assets/images/onboard1.png" class="my-8"></ion-img>
        <h3 class="text-2xl font-bold">حدد موقعك</h3>
        <p class="text-sm text-muted">وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
          النصوص النهائية المطلوبة
          للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات
          للتصميم الاساسي.
        </p>
      </section>
    </ion-slide>



  </ion-slides>
</ion-content>