<section class="ion-page justify-center items-center">
  <div class="h-22 w-22 rounded-full bg-primary flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="37.472" height="43.625" viewBox="0 0 37.472 43.625">
      <defs>
        <style>
          .prefix__cls-1 {
            fill: #fff
          }
        </style>
      </defs>
      <g id="prefix___456283" data-name="456283" transform="rotate(-6.02 42.626 319.69)">
        <g id="prefix__Group_227" data-name="Group 227" transform="translate(38.18)">
          <g id="prefix__Group_226" data-name="Group 226">
            <path id="prefix__Path_298"
              d="M131.77 0a10.77 10.77 0 1 0 10.77 10.77A10.782 10.782 0 0 0 131.77 0zm0 19.147a8.377 8.377 0 1 1 8.377-8.377 8.386 8.386 0 0 1-8.377 8.377z"
              class="prefix__cls-1" data-name="Path 298" transform="translate(-121)" />
          </g>
        </g>
        <g id="prefix__Group_229" data-name="Group 229" transform="translate(31 23.934)">
          <g id="prefix__Group_228" data-name="Group 228">
            <path id="prefix__Path_299"
              d="M62.35 304.643A15.353 15.353 0 0 0 51.344 300h-4.787a15.354 15.354 0 0 0-11.007 4.643A15.7 15.7 0 0 0 31 315.716a1.2 1.2 0 0 0 1.2 1.2h33.5a1.2 1.2 0 0 0 1.2-1.2 15.7 15.7 0 0 0-4.55-11.073zm-28.9 9.877a13.244 13.244 0 0 1 13.111-12.126h4.787a13.244 13.244 0 0 1 13.107 12.126z"
              class="prefix__cls-1" data-name="Path 299" transform="translate(-31 -300)" />
          </g>
        </g>
      </g>
    </svg>
  </div>

  <h1 class="font-bold text-md">إكمال التسجيل</h1>

  <form action="" class="p-4 text-right w-full">
    <label class="block mb-2 text-muted" for="name">إسم المستخدم</label>
    <input class="input" type="text" id="name">
    <label class="block mb-2 text-muted" for="alternative-phone">رقم الهاتف الاحتياطي</label>
    <input class="input" type="text" id="alternative-phone">
    <button class="text-md rounded-sm text-white py-4 w-full bg-primary mt-8">إكمال التسجيل</button>
  </form>
</section>